[data-theme] {
	--theme-color-h: 0;
	--theme-color-s: 0%;
	--theme-color-hs: var(--theme-color-h), var(--theme-color-s);
	--theme-color-boost: 3%;

	--theme-color-l-100: calc(var(--color-l-100) + var(--theme-color-boost));
	--theme-color-l-200: calc(var(--color-l-200) + var(--theme-color-boost));
	--theme-color-l-300: calc(var(--color-l-300) + var(--theme-color-boost));
	--theme-color-l-400: calc(var(--color-l-400) + var(--theme-color-boost));
	--theme-color-l-500: calc(var(--color-l-500) + var(--theme-color-boost));
	--theme-color-l-600: calc(var(--color-l-600) + var(--theme-color-boost));
	--theme-color-l-700: calc(var(--color-l-700) + var(--theme-color-boost));
	--theme-color-l-800: calc(var(--color-l-800) + var(--theme-color-boost));
	--theme-color-l-900: calc(var(--color-l-900) + var(--theme-color-boost));

	--theme-color-100: hsl(var(--theme-color-hs), var(--theme-color-l-100));
	--theme-color-200: hsl(var(--theme-color-hs), var(--theme-color-l-200));
	--theme-color-300: hsl(var(--theme-color-hs), var(--theme-color-l-300));
	--theme-color-400: hsl(var(--theme-color-hs), var(--theme-color-l-400));
	--theme-color-500: hsl(var(--theme-color-hs), var(--theme-color-l-500));
	--theme-color-600: hsl(var(--theme-color-hs), var(--theme-color-l-600));
	--theme-color-700: hsl(var(--theme-color-hs), var(--theme-color-l-700));
	--theme-color-800: hsl(var(--theme-color-hs), var(--theme-color-l-800));
	--theme-color-900: hsl(var(--theme-color-hs), var(--theme-color-l-900));

	--theme-color-text: var(--theme-color-900);
	--theme-color-text-dimmed: var(--theme-color-700);
	--theme-color-back: var(--theme-color-400);
	--theme-color-hover: var(--theme-color-500);
	--theme-color-icon: var(--theme-color-600);
}

/* Color themes */
[data-theme="error"],
[data-theme="negative"] {
	--theme-color-h: var(--color-red-h);
	--theme-color-s: var(--color-red-s);
	--theme-color-boost: var(--color-red-boost);
}

[data-theme="notice"] {
	--theme-color-h: var(--color-orange-h);
	--theme-color-s: var(--color-orange-s);
	--theme-color-boost: var(--color-orange-boost);
}

[data-theme="warning"] {
	--theme-color-h: var(--color-yellow-h);
	--theme-color-s: var(--color-yellow-s);
	--theme-color-boost: var(--color-yellow-boost);
}

[data-theme="info"] {
	--theme-color-h: var(--color-blue-h);
	--theme-color-s: var(--color-blue-s);
	--theme-color-boost: var(--color-blue-boost);
}

[data-theme="positive"] {
	--theme-color-h: var(--color-green-h);
	--theme-color-s: var(--color-green-s);
	--theme-color-boost: var(--color-green-boost);
}

[data-theme="passive"] {
	--theme-color-h: var(--color-gray-h);
	--theme-color-s: var(--color-gray-s);
	--theme-color-boost: 10%;
}

[data-theme="white"],
[data-theme="text"] {
	--theme-color-back: var(--color-white);
	--theme-color-icon: var(--color-gray-800);
	--theme-color-text: var(--color-text);
	--color-h: var(--color-black);
}

/* Special Themes */
[data-theme="dark"] {
	--theme-color-h: var(--color-gray-h);
	--theme-color-s: var(--color-gray-s);
	--theme-color-boost: var(--color-gray-boost);
	--theme-color-back: var(--color-gray-800);
	--theme-color-icon: var(--color-gray-500);
	--theme-color-text: var(--color-gray-200);
}

[data-theme="code"] {
	--theme-color-back: var(--code-color-back);
	--theme-color-hover: var(--color-black);
	--theme-color-icon: var(--code-color-icon);
	--theme-color-text: var(--code-color-text);
	font-family: var(--code-font-family);
	font-size: var(--code-font-size);
}

[data-theme="empty"] {
	--theme-color-back: var(--color-light);
	--theme-color-border: var(--color-gray-400);
	--theme-color-icon: var(--color-gray-600);
	--theme-color-text: var(--color-text-dimmed);
	border: 1px dashed var(--theme-color-border);
}

[data-theme="none"] {
	--theme-color-back: transparent;
	--theme-color-border: transparent;
	--theme-color-icon: var(--color-text);
	--theme-color-text: var(--color-text);
}

[data-theme] {
	/** @deprecated */
	--theme: var(--theme-color-700);
	--theme-light: var(--theme-color-500);
	--theme-bg: var(--theme-color-500);
}