.bg-none {
  background-color: none;
}
.bg-aqua {
  background-color: $color-aqua-400;
}
.bg-aqua-light {
  background-color: $color-aqua-300;
}
.bg-backdrop {
  background-color: $color-backdrop;
}
.bg-background {
  background-color: $color-background;
}
.bg-black {
  background-color: $color-black;
}
.bg-black-light {
  background-color: $color-gray-800;
}
.bg-blue {
  background-color: $color-blue-400;
}
.bg-blue-light {
  background-color: $color-blue-300;
}
.bg-dark {
  background-color: $color-gray-800;
}
.bg-green {
  background-color: $color-green-400;
}
.bg-green-light {
  background-color: $color-green-300;
}
.bg-light {
  background-color: $color-gray-200;
}
.bg-orange {
  background-color: $color-orange-400;
}
.bg-orange-light {
  background-color: $color-orange-300;
}
.bg-pattern {
  background: $color-gray-800 url($pattern);
}
.bg-purple {
  background-color: $color-purple-400;
}
.bg-purple-light {
  background-color: $color-purple-300;
}
.bg-red {
  background-color: $color-red-400;
}
.bg-red-light {
  background-color: $color-red-300;
}
.bg-white {
  background-color: $color-white;
}
.bg-yellow {
  background-color: $color-yellow-400;
}
.bg-yellow-light {
  background-color: $color-yellow-300;
}
