.bg-backdrop {
  background: $color-backdrop;
}
.bg-black {
  background: $color-black;
}
.bg-dark {
  background: $color-gray-800;
}
.bg-light {
  background: $color-gray-200;
}
.bg-white {
  background: $color-white;
}
.bg-pattern {
  background: $color-gray-800 url($pattern);
}
