/* Margins */
@each $index, $size in $margin {
  .m-#{$index} {
    margin: $size;
  }
}
@each $index, $size in $margin {
  .mx-#{$index} {
    margin-right: $size;
    margin-left: $size;
  }
}
@each $index, $size in $margin {
  .my-#{$index} {
    margin-top: $size;
    margin-bottom: $size;
  }
}
@each $index, $size in $margin {
  .mt-#{$index} {
    margin-top: $size;
  }
}
@each $index, $size in $margin {
  .mr-#{$index} {
    margin-right: $size;
  }
}
@each $index, $size in $margin {
  .mb-#{$index} {
    margin-bottom: $size;
  }
}
@each $index, $size in $margin {
  .ml-#{$index} {
    margin-left: $size;
  }
}

