.text-aqua {
  color: $color-aqua-600;
}
.text-aqua-light {
  color: $color-aqua-400;
}
.text-black {
  color: $color-black;
}
.text-focus,
.text-blue {
  color: $color-blue-600;
}
.text-blue-light {
  color: $color-blue-400;
}
.text-gray {
  color: $color-gray-600;
}
.text-gray-light {
  color: $color-gray-400;
}
.text-positive,
.text-green {
  color: $color-green-600;
}
.text-green-light {
  color: $color-green-400;
}
.text-orange {
  color: $color-orange-600;
}
.text-orange-light {
  color: $color-orange-400;
}
.text-purple {
  color: $color-purple-600;
}
.text-purple-light {
  color: $color-purple-400;
}
.text-negative,
.text-red {
  color: $color-red-600;
}
.text-red-light {
  color: $color-red-400;
}
.text-yellow {
  color: $color-yellow-600;
}
.text-yellow-light {
  color: $color-yellow-400;
}
.text-white {
  color: $color-white;
}

