/** Text size **/
.text-xs {
  font-size: $text-xs;
}
.text-sm {
  font-size: $text-sm;
}
.text-base,
.text-md {
  font-size: $text-base;
}
.text-lg {
  font-size: $text-lg;
}
.text-xl {
  font-size: $text-lg;
}
.text-2xl {
  font-size: $text-2xl;
}
