# git
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore

# scripts
.tx export-ignore
scripts/ export-ignore

# tests
.coveralls.yml export-ignore
.php_cs export-ignore
.travis.yml export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore
tests/ export-ignore

# panel
panel/hot export-ignore
panel/mix-manifest.json export-ignore
panel/package-lock.json export-ignore
panel/package.json export-ignore
panel/README.md export-ignore
panel/src export-ignore
panel/webpack.mix.js export-ignore
