# os
.DS_Store

# build files
/dist.zip
/kirby.zip
/panel/tmp

# cs fixer
.php-cs-fixer.cache

# editors
*.sublime-project
*.sublime-workspace
/.idea

# tests
.phpbench
.phpunit.cache
phpunit.xml
/tests/coverage
/tests/tmp

# ignore all the vendor cruft
/vendor/**/.*
/vendor/**/test/*
/vendor/**/tests/*
/vendor/**/*.md
!/vendor/**/COPYRIGHT.md
!/vendor/**/LICENSE.md
/vendor/**/*.dist
/vendor/**/*.txt
/vendor/**/*.xml
/vendor/**/*.yml
/vendor/**/*.yaml
/vendor/**/COMMITMENT
/vendor/**/readme.php
/vendor/**/VERSION
/vendor/**/docs/*
/vendor/**/example/*
/vendor/**/examples/*
/vendor/**/php4/*
/vendor/**/*.pubkey
/vendor/**/*.asc
/vendor/**/*.sh
/vendor/getkirby/composer-installer
