# git
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore

# tests
.codecov.yml export-ignore
.php-cs-fixer.dist.php export-ignore
phpunit.ci.xml export-ignore
phpunit.dist.xml export-ignore
psalm.xml.dist export-ignore
tests/ export-ignore

# panel
panel/.env.example export-ignore
panel/.prettierignore export-ignore
panel/.prettierrc.json export-ignore
panel/dist/ui export-ignore
panel/eslint.config.mjs export-ignore
panel/jsconfig.json export-ignore
panel/lab export-ignore
panel/package-lock.json export-ignore
panel/package.json export-ignore
panel/public export-ignore
panel/README.md export-ignore
panel/scripts export-ignore
panel/src export-ignore
panel/vite.config.mjs export-ignore
panel/vitest.setup.js export-ignore

# other
.tx export-ignore
.vscode/ export-ignore
etc/ export-ignore
scripts/ export-ignore
