# os
.DS_Store

# build files
/dist.zip
/kirby.zip

# cs fixer
.php-cs-fixer.cache

# editors
*.sublime-project
*.sublime-workspace
/.idea

# tests
.phpunit.result.cache
/panel/cypress
/tests/coverage

# ignore all the vendor cruft
/vendor/**/.*
/vendor/**/test/*
/vendor/**/tests/*
/vendor/*/*/*.md
!/vendor/*/*/COPYRIGHT.md
!/vendor/*/*/LICENSE.md
/vendor/*/*/*.dist
/vendor/*/*/*.txt
/vendor/*/*/*.xml
/vendor/*/*/*.yml
/vendor/*/*/*.yaml
/vendor/*/*/COMMITMENT
/vendor/*/*/readme.php
/vendor/*/*/VERSION
/vendor/*/*/docs/*
/vendor/*/*/example/*
/vendor/*/*/examples/*
/vendor/*/*/php4/*
/vendor/getkirby/composer-installer
