<?xml version="1.0"?>
<psalm
    errorLevel="7"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="config" />
        <directory name="src" />
        <directory name="views" />
        <file name="bootstrap.php" />
        <file name="router.php" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <!-- Don't warn about "$this in a non-class context" in the config dir -->
        <InvalidScope>
            <errorLevel type="suppress">
                <directory name="config" />
            </errorLevel>
        </InvalidScope>
    </issueHandlers>
</psalm>
