name: Setup PHP
description: Shared setup steps setup PHP environment and cache

inputs:
  php:
    required: true
  extensions:
    required: false
  ini:
    required: false
  coverage:
    default: none
  tools:
    required: false

runs:
  using: composite
  steps:
    - name: Setup PHP cache environment
      if: ${{ inputs.extensions != '' }}
      id: php-cache
      uses: shivammathur/cache-extensions@4595bea7d6630821b0a3a4894f816402faaf324c # v1
      with:
        php-version: ${{ inputs.php }}
        extensions: ${{ inputs.extensions }}
        key: php-v1

    - name: Cache PHP extensions
      if: ${{ inputs.extensions != '' }}
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      with:
        path: ${{ steps.php-cache.outputs.dir }}
        key: ${{ steps.php-cache.outputs.key }}
        restore-keys: ${{ steps.php-cache.outputs.key }}

    - name: Setup PHP environment
      uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
      with:
        php-version: ${{ inputs.php }}
        extensions: ${{ inputs.extensions }}
        ini-values: ${{ inputs.ini }}
        coverage: ${{ inputs.coverage }}
        tools: ${{ inputs.tools }}
