@import url("./reset/choice.css");
@import url("./reset/form.css");
@import url("./reset/range.css");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:where(b, strong) {
	font-weight: var(--font-bold, 600);
}

:is([hidden]) {
	display: none;
}

:is(:disabled, [disabled]) {
	cursor: not-allowed;
}

:where(abbr) {
	text-decoration: none;
}

:where(summary) {
	cursor: pointer;
}

:where(a) {
	color: currentColor;
	text-decoration: none;
	text-underline-offset: 0.2ex;
}

:where(ul, ol) {
	list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
	display: block;
}

:where(iframe) {
	border: 0;
}

:where(img, picture, svg) {
	max-inline-size: 100%;
	block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
	overflow-wrap: break-word;
}

:where(h1, h2, h3, h4, h5, h6) {
	font: inherit;
}

:where(:focus, :focus-visible, :focus-within) {
	outline-color: var(--color-focus, currentColor);
	outline-offset: 0;
}

:where(:focus-visible) {
	outline: var(--outline, 2px solid var(--color-focus, currentColor));
}

:where(dialog) {
	border: 0;
	max-width: none;
	max-height: none;
}

:where(hr) {
	border: 0;
}

:where(table) {
	font: inherit;
	width: 100%;
	border-spacing: 0;
	font-variant-numeric: tabular-nums;
}

:where(table th) {
	font: inherit;
	text-align: start;
}

:where(svg *) {
	fill: currentColor;
}

body {
	font-family: var(--font-sans, sans-serif);
	font-size: var(--text-sm);
	line-height: 1;
	position: relative;
	accent-color: var(--color-focus, currentColor);
}

:where(sup, sub) {
	position: relative;
	line-height: 0;
	vertical-align: baseline;
	font-size: 75%;
}
:where(sup) {
	top: -0.5em;
}
:where(sub) {
	bottom: -0.25em;
}

:where(mark) {
	background: var(--color-yellow-300);
}

:where(kbd) {
	display: inline-block;
	padding-inline: var(--spacing-2);
	border-radius: var(--rounded);
	background: var(--color-white);
	box-shadow: var(--shadow);
}
