@import url("./reset/choice.css");
@import url("./reset/range.css");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:where(b, strong) {
	font-weight: var(--font-bold, 600);
}

:where([hidden]) {
	display: none !important;
}

:where(abbr) {
	text-decoration: none;
}

:where(input, button, textarea, select) {
	border: 0;
	font: inherit;
	line-height: inherit;
	color: inherit;
	background: none;
}

:where(fieldset) {
	border: 0;
}

:where(legend) {
	width: 100%;
	float: left;
}

:where(legend + *) {
	clear: both;
}

:where(select) {
	appearance: none;
	background: var(--color-white);
	color: var(--color-black);
	cursor: pointer;
}

:where(
	textarea,
	select,
	input:not([type="checkbox"], [type="radio"], [type="reset"], [type="submit"])
) {
	width: 100%;
	font-variant-numeric: tabular-nums;
}

:where(textarea) {
	resize: vertical;
	line-height: 1.5;
}

:where(input)::-webkit-calendar-picker-indicator {
	display: none;
}

:where(input[type="search"]) {
	appearance: none;
}

:where(input)::-webkit-search-cancel-button {
	display: none;
}

:where(button, label, select, summary, [role="button"], [role="option"]) {
	cursor: pointer;
}

:where(select[multiple]) option {
	display: flex;
	align-items: center;
}

:where(input:-webkit-autofill) {
	-webkit-text-fill-color: var(--color-text) !important;
	-webkit-background-clip: text;
}

:where(:disabled) {
	cursor: not-allowed;
}

*::placeholder {
	color: var(--input-color-placeholder);
	opacity: 1;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
	cursor: not-allowed;
}

:where(a) {
	color: currentColor;
	text-decoration: none;
	text-underline-offset: 0.2ex;
}

:where(ul, ol) {
	list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
	display: block;
}

:where(iframe) {
	border: 0;
}

:where(img, picture, svg) {
	max-inline-size: 100%;
	block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
	overflow-wrap: break-word;
}

:where(h1, h2, h3, h4, h5, h6) {
	font: inherit;
}

:where(:focus, :focus-visible, :focus-within) {
	outline-color: var(--color-focus, currentColor);
	outline-offset: 0;
}

:where(:focus-visible) {
	outline: var(--outline, 2px solid var(--color-focus, currentColor));
}

:where(:invalid) {
	box-shadow: none;
	outline: 0;
}

:where(dialog) {
	border: 0;
	max-width: none;
	max-height: none;
}

:where(hr) {
	border: 0;
}

:where(table) {
	font: inherit;
	width: 100%;
	border-spacing: 0;
	font-variant-numeric: tabular-nums;
}

:where(table th) {
	font: inherit;
	text-align: start;
}

:where(svg) {
	fill: currentColor;
}

body {
	font-family: var(--font-sans, sans-serif);
	font-size: var(--text-sm);
	line-height: 1;
	position: relative;
	accent-color: var(--color-focus, currentColor);
}

:where(sup, sub) {
	position: relative;
	line-height: 0;
	vertical-align: baseline;
	font-size: 75%;
}
:where(sup) {
	top: -0.5em;
}
:where(sub) {
	bottom: -0.25em;
}

:where(mark) {
	background: var(--color-yellow-300);
}

:where(kbd) {
	display: inline-block;
	padding-inline: var(--spacing-2);
	border-radius: var(--rounded);
	background: light-dark(var(--color-white), var(--color-black));
	box-shadow: var(--shadow);
}
