
/* Sidebar */
.sidebar-svg-icon {
  color: #4271ae !important;
}

[id*="-"] .sidebar-svg-icon {
  color: #cca000 !important;
}

[id*="--"] .sidebar-svg-icon {
  color: #ccc !important;
}

.sidebar-subheading {
  font-family: var(--font-family-sans) !important;
  letter-spacing: 0 !important;
  color: #000 !important;
}
