@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');

:root {
  --color-brand: hsl(166, 100%, 46%);
  --color-secondary: hsl(351, 69%, 60%);
}

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
  background: #777;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

strong, b {
  font-weight: 500;
}

img {
  width: 100%;
}

.page {
  background: #fff;
  padding: 5vh 5vw 10vh;
}
.page > * {
  max-width: 90rem;
  margin: 0 auto;
}

.header a,
.header label {
  position: relative;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .05em;
  padding: .25rem 0;
}
.logo {
  display: block;
  font-weight: 700;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.menu {
  position: relative;
}
.menu label {
  cursor: pointer;
}
.menu label:after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  content: "";
  border-top: 4px solid var(--color-secondary);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #000;
  padding: 1rem 0;
  display: none;
  z-index: 100;
}
.menu input {
  display: none;
}
.menu input:checked + .menu-dropdown {
  display: block;
}
.menu-dropdown a {
  display: block;
  white-space: nowrap;
  color: #fff;
  padding: .25rem 1.5rem;
}
.menu-dropdown a[aria-current] {
  color: var(--color-brand);
}


main {
  min-height: calc(100vh - 10rem);
}

.intro {
  padding: 10vh 0;
}
.intro h1 {
  position: relative;
  margin-bottom: 1rem;
  font-size: 3rem;
  display: inline-block;
  z-index: 1;
}
.intro h1:before {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 0;
  right: 0;
  height: 8px;
  transition: background .3s ;
  background: var(--color-brand);
  z-index: -1;
}


.intro-text {
  max-width: 25rem;
  line-height: 1.25;
}

.text {
  line-height: 1.5em;
}
.text p,
.text figure,
.text ul,
.text ol {
  margin-bottom: 1.5em;
}
.text h2 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .01em;
}
.text code {
  font-family: Input, Menlo, monospace;
  background: var(--color-brand);
}
.text pre {
  background: #000;
  margin-bottom: 1.5em;
  padding: 1rem;
}
.text pre code {
  background: none;
  color: var(--color-brand);
}
.text a {
  position: relative;
  white-space: nowrap;
  font-weight: 500;
  z-index: 1;
}
.text mark {
  background: var(--color-secondary);
  padding: 0 .25rem;
}
.text a:before {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  right: 0;
  height: 8px;
  transition: background .3s ;
  background: var(--color-brand);
  z-index: -1;
}
.text a:hover:before {
  background: var(--color-secondary);
}
.text hr {
  border: 0;
  height: 8px;
  margin: 1.5em 0;
  background: #ddd;
}
.text figure {
  padding-top: 1.5rem;
  margin-left: 0;
  padding-bottom: 1.5rem;
}
.text img {
  width: 100%;
}
.text figcaption {
  color: #777;
  font-size: .875rem;
  line-height: 1.5em;
}

.footer {
  padding: 1.5rem 5vw 10vh;
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  color: #fff;
  max-width: 90rem;
  margin: 0 auto;
}
.footer a {
  display: block;
  font-size: .75rem;
}
.social {
  display: flex;
}
.social a {
  margin-left: 2rem;
}
