:root {
	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Inter", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-mono: "SFMono-Regular", Consolas, Liberation Mono, Menlo, Courier, monospace;
}
