:root {
	--shadow-sm:
			0 1px 3px 0 rgba(0, 0, 0, 0.1),
			0 1px 2px 0 rgba(0, 0, 0, 0.025);
	--shadow-md:
			0 4px 6px -1px rgba(0, 0, 0, 0.1),
			0 2px 4px -1px rgba(0, 0, 0, 0.05);
	--shadow-lg:
			0 10px 15px -3px rgba(0, 0, 0, 0.1),
			0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-xl:
			0 20px 25px -5px rgba(0, 0, 0, 0.1),
			0 10px 10px -5px rgba(0, 0, 0, 0.05);

	--shadow: var(--shadow-sm);
	--shadow-toolbar: rgba(0, 0, 0, 0.1) -2px 0 5px, var(--shadow),
		var(--shadow-xl);
}

:root:has(.k-panel[data-theme="dark"]) {
	--shadow-sm:
			0 1px 3px 0 rgba(0, 0, 0, 0.2),
			0 1px 2px 0 rgba(0, 0, 0, 0.125);
	--shadow-xl:
			0 20px 25px -5px rgba(0, 0, 0, 0.4),
			0 10px 10px -5px rgba(0, 0, 0, 0.35);
}