@import "./utilities/background.scss";
@import "./utilities/border.radius.scss";
@import "./utilities/cursor.scss";
@import "./utilities/display.scss";
@import "./utilities/flex.scss";
@import "./utilities/font.family.scss";
@import "./utilities/font.weight.scss";
@import "./utilities/grid.gap.scss";
@import "./utilities/margin.scss";
@import "./utilities/object.fit.scss";
@import "./utilities/overflow.scss";
@import "./utilities/padding.scss";
@import "./utilities/position.scss";
@import "./utilities/shadow.scss";
@import "./utilities/text.align.scss";
@import "./utilities/text.color.scss";
@import "./utilities/text.decoration.scss";
@import "./utilities/text.size.scss";
@import "./utilities/visibility.scss";
