:root {
	--color-preview-rounded: var(--rounded);
	--color-preview-size: 1.5rem;
	--color-preview-darkness: 0%;
}

.k-color {
	--h: 0;
	--s: 0%;
	--l: 0%;
	--a: 1;
	--range-thumb-size: 0.75rem;
	--range-track-height: 0.75rem;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-3);
	width: max-content;
}

.k-color > * {
	border-radius: var(--rounded);
}

.k-color :focus {
	outline: var(--outline);
}

.k-color .k-coords {
	aspect-ratio: 1/1;
	background: linear-gradient(to bottom, transparent, #000),
		linear-gradient(to right, #fff, hsl(var(--h), 100%, 50%));
}

.k-color input[data-variant="alpha"] {
	color: hsl(var(--h), var(--s), var(--l));
}

.k-color-preview {
	aspect-ratio: 1/1;
	position: relative;
	display: inline-block;
	color: transparent;
	background: var(--pattern-light);
	border-radius: var(--color-preview-rounded);
	overflow: hidden;
	width: var(--color-preview-size);
	background-clip: padding-box;
}

.k-color-preview::after {
	border-radius: var(--color-preview-rounded);
	box-shadow: 0 0 0 1px inset hsla(0, 0%, var(--color-preview-darkness), 0.175);
	position: absolute;
	inset: 0;
	background-color: currentColor;
	content: "";
}
