.k-coords {
	position: relative;
	display: block;
}
.k-coords img {
	width: 100%;
}
.k-coords-thumb {
	position: absolute;
	aspect-ratio: 1/1;
	width: var(--range-thumb-size);
	background: var(--range-thumb-color);
	border-radius: var(--range-thumb-size);
	box-shadow: var(--range-thumb-shadow);
	transform: translate(-50%, -50%);
}
.k-coords-thumb {
	cursor: move;
}
.k-coords-thumb:active {
	cursor: grabbing;
}
.k-coords:focus-within {
	outline: var(--outline);
}
.k-coords[aria-disabled] {
	pointer-events: none;
	opacity: var(--opacity-disabled);
}
.k-coords[aria-disabled] .k-coords-thumb {
	display: none;
}
