
/* Sidebar */
.sidebar-svg-icon {
  color: #4271ae !important;
}

[id*="-"] .sidebar-svg-icon {
  color: #cca000 !important;
}

[id*="--"] .sidebar-svg-icon {
  color: #ccc !important;
}

/* Docs */
.sbdocs {
  font-family: var(--font-family-sans) !important;
}

.sbdocs-wrapper {
  min-height: 100vh;
}

.sbdocs-preview {
  background-color: #efefef !important;
  border-radius: 0 !important;
}

.docblock-source {
  border-radius: 0 !important;
}

.sidebar-subheading,
.docblock-propstable-body th {
  font-family: var(--font-family-sans) !important;
  letter-spacing: 0 !important;
  color: #000 !important;
}

code {
  font-family: var(--font-family-mono) !important;
  background: rgba(0, 0, 0, .07);
  border-radius: 3px;
  box-decoration-break: clone;
  display: inline-block;
  font-size: .875em !important;
  line-height: inherit;
  padding: .05em .5em;
}


/* Syntax highlighting */
.hljs {
  color: #fff !important;
  background: #000 !important;
}

.hljs > code {
  font-size: 1em !important;
}

.hljs .section {
  color: #fff !important;
}

.hljs .comment,
.hljs .quote,
.hljs .meta {
  color: #a9aaad !important;
  font-style: normal !important;
}

.hljs .punctuation,
.hljs .operator {
  color: #cacbd1 !important;
}

.hljs .string,
.hljs .attr-value,
.hljs .attr-value.punctuation  {
  color: var(--color-positive-light) !important
}

.hljs .built_in,
.hljs .builtin-name,
.hljs .literal,
.hljs .type,
.hljs .number,
.hljs .boolean,
.hljs .template-variable,
.hljs .attribute,
.hljs .link,
.hljs .attr-name,
.hljs .known-class-name,
.hljs .class-name {
  color: var(--color-notice-light) !important;
}

.hljs .property {
  color: #f0c674 !important;
}

.hljs .keyword,
.hljs .selector-tag,
.hljs .name,
.hljs .selector-id,
.hljs .selector-class {
  color: #b294bb !important;
}

.hljs .title,
.hljs .variable,
.hljs .selector,
.hljs .class,
.hljs .deletion,
.hljs .template-tag, 
.hljs .tag {
  color: var(--color-negative-light) !important;
}

.hljs .function {
  color: #7e9abf !important;
}
