
.sidebar-svg-icon {
  color: #4271ae !important;
}

[id*="-"] .sidebar-svg-icon {
  color: #cca000 !important;
}

[id*="--"] .sidebar-svg-icon {
  color: #ccc !important;
}

.sbdocs-preview {
  background-color: #efefef !important;
  border-radius: 0 !important;
}

.sbdocs-wrapper {
  min-height: 100vh;
  background: #fff;
}



.sidebar-subheading,
.docblock-propstable-body th {
  letter-spacing: 0 !important;
  color: #000 !important;
}



code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  background: rgba(0, 0, 0, .07);
  border-radius: 3px;
  box-decoration-break: clone;
  display: inline-block;
  font-size: .875em !important;
  line-height: inherit;
  padding: .05em .5em;
}



.hljs {
  background: #000 !important;
}

.hljs > code {
  font-size: 1em !important;
}

.hljs,
.hljs .subst {
  color: #aaa !important;
}

.hljs .section {
  color: #fff !important;
}

.hljs .comment,
.hljs .quote,
.hljs .meta {
  color: #a9aaad !important;
}

.hljs .punctuation {
  color: #cacbd1 !important;
}

.hljs .string,
.hljs .attr-value,
.hljs .attr-value.punctuation  {
  color: #a7bd68 !important
}

.hljs .symbol,
.hljs .bullet,
.hljs .regexp {
  color: #ffcc33 !important;
}

.hljs .number,
.hljs .addition {
  color: #00cc66 !important;
}

.hljs .built_in,
.hljs .builtin-name,
.hljs .literal,
.hljs .type,
.hljs .template-variable,
.hljs .attribute,
.hljs .link,
.hljs .attr-name {
  color: #de935f !important;
}

.hljs .selector-tag,
.hljs .name,
.hljs .selector-id,
.hljs .selector-class {
  color: #6644aa !important;
}

.hljs .keyword,
.hljs .title,
.hljs .variable,
.hljs .deletion,
.hljs .template-tag, 
.hljs .tag {
  color: #d16464 !important;
}
