# To upgrade pinned actions: Use https://github.com/mheap/pin-github-action

name: CI - Backend

env:
  OS: &os ubuntu-24.04
  TIMEOUT: &timeout 5

  # run job only under the following conditions:
  # - can be triggered manually from any repository
  # - can be triggered as workflow call by another workflow
  # - if on pull request, only run if from a fork
  #   (our own repo is covered by the push event)
  # - if on push, only run CI automatically for the
  #   main getkirby/kirby repo and for forks
  SHOULD_RUN: &should-run >-
    github.event_name == 'workflow_dispatch' ||
    github.event_name == 'workflow_call' ||
    (github.event_name == 'pull_request' &&
    github.event.pull_request.head.repo.full_name != github.repository) ||
    (github.event_name == 'push' &&
    (github.repository == 'getkirby/kirby' || github.repository_owner != 'getkirby'))

on:
  push: &backend-triggers
    branches-ignore:
      - "main"
      - "release/**"
    paths:
      - "**"
      - "!.github/**"
      - ".github/actions/setup-php/**"
      - ".github/workflows/backend.yml"
      - "!.tx/**"
      - "!.vscode/**"
      - "!assets/**"
      - "!panel/**"
      - "!scripts/**"
  pull_request: *backend-triggers
  workflow_call:
  workflow_dispatch:

concurrency:
  group: backend-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # ======================== Unit Tests ========================
  tests:
    name: "Unit Tests - PHP ${{ matrix.php }}"
    if: *should-run
    runs-on: *os
    timeout-minutes: *timeout
    strategy:
      fail-fast: true
      matrix:
        php: ["8.3", "8.4", "8.5"]

    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
      memcached:
        image: memcached:latest
        ports:
          - 11211:11211

    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 2

      - name: Install system locales
        run: sudo apt-get update && sudo apt-get install -y locales-all imagemagick

      - name: Setup PHP environment
        uses: ./.github/actions/setup-php
        with:
          php: ${{ matrix.php }}
          ini: apc.enabled=1, apc.enable_cli=1, pcov.directory=., "pcov.exclude=\"~(vendor|tests)~\""
          coverage: pcov
          tools: phpunit:12.5.4, brianium/paratest:7.16.1

      - name: Check Composer platform requirements
        run: composer check-platform-reqs

      - name: Cache PHPUnit results
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ./.phpunit.cache
          key: phpunit-${{ matrix.php }}-${{ hashFiles('composer.lock') }}
          restore-keys: |
            phpunit-${{ matrix.php }}-
            phpunit-

      - name: Run PHPUnit tests
        if: matrix.php != '8.4'
        run: paratest -c phpunit.ci.xml --processes 4

      - name: Run PHPUnit tests with coverage
        if: matrix.php == '8.4'
        run: paratest -c phpunit.ci.xml --processes 4 --coverage-clover ${{ github.workspace }}/clover.xml --exclude-source-from-xml-coverage

      - name: Upload coverage results to Codecov
        if: matrix.php == '8.4'
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          # for better reliability if the GitHub API is down
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          files: ${{ github.workspace }}/clover.xml
          disable_search: true
          flags: backend
          env_vars: PHP
        env:
          PHP: ${{ matrix.php }}

  # ======================== Code Quality ========================
  analysis:
    name: "Code Quality"
    if: *should-run
    runs-on: *os
    timeout-minutes: *timeout
    env:
      php: 8.3

    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Preparations
        run: mkdir -p sarif

      - name: Setup PHP environment
        uses: ./.github/actions/setup-php
        with:
          php: ${{ env.php }}
          tools: |
            composer:2.9.1, composer-normalize:2.48.2, composer-require-checker:4.18.0,
            composer-unused:0.9.5, psalm:6.13.1

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Cache Psalm analysis data
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.cache/psalm
          key: psalm-${{ env.php }}-${{ hashFiles('composer.lock') }}
          restore-keys: |
            psalm-${{ env.php }}-
            psalm-

      - name: Validate composer.json/composer.lock
        run: composer validate --strict --no-check-version --no-check-all

      - name: Ensure that composer.json is normalized
        run: composer-normalize --dry-run

      - name: Check for unused Composer dependencies
        run: composer-unused --no-progress

      - name: Statically analyze using Psalm
        id: psalm
        run: psalm --output-format=github --php-version=${{ matrix.php }} --report=sarif/psalm.sarif --report-show-info=false

      - name: Upload code scanning results to GitHub
        if: github.repository == 'getkirby/kirby' && steps.psalm.outcome == 'success'
        uses: github/codeql-action/upload-sarif@45c373516f557556c15d420e3f5e0aa3d64366bc # v3
        with:
          sarif_file: sarif

  # ======================== Coding Style ========================
  coding-style:
    name: "Coding Style"
    if: *should-run
    runs-on: *os
    timeout-minutes: *timeout

    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup PHP environment
        uses: ./.github/actions/setup-php
        with:
          php: 8.3 # should be the minimum supported PHP version
          extensions: ""
          tools: php-cs-fixer:3.90.0

      - name: Cache PHP-CS-Fixer data
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ./.php-cs-fixer.cache
          key: php-cs-fixer-${{ hashFiles('.php-cs-fixer.dist.php') }}
          restore-keys: |
            php-cs-fixer-

      - name: Run PHP-CS-Fixer to catch PHP coding style violations
        run: php-cs-fixer fix --diff --dry-run
