# To upgrade pinned actions: Use https://github.com/mheap/pin-github-action

name: CI - Backend

env:
  OS: &os ubuntu-22.04
  TIMEOUT: &timeout 5
  PHP: 8.4

  # run job only under the following conditions:
  # - can be triggered manually from any repository
  # - can be triggered as workflow call by another workflow
  # - if on pull request, only run if from a fork
  #   (our own repo is covered by the push event)
  # - if on push, only run CI automatically for the
  #   main getkirby/kirby repo and for forks
  SHOULD_RUN: &should-run >-
    github.event_name == 'workflow_dispatch' ||
    github.event_name == 'workflow_call' ||
    (github.event_name == 'pull_request' &&
    github.event.pull_request.head.repo.full_name != github.repository) ||
    (github.event_name == 'push' &&
    (github.repository == 'getkirby/kirby' || github.repository_owner != 'getkirby'))

on:
  push:
    branches-ignore:
      - "main"
      - "release/**"
    paths:
      - "**"
      - "!.github/**"
      - ".github/workflows/backend.yml"
      - "!.tx/**"
      - "!.vscode/**"
      - "!assets/**"
      - "!panel/**"
      - "!scripts/**"
  pull_request:
    branches-ignore:
      - "main"
      - "release/**"
    paths:
      - "**"
      - "!.github/**"
      - ".github/workflows/backend.yml"
      - "!.tx/**"
      - "!.vscode/**"
      - "!assets/**"
      - "!panel/**"
      - "!scripts/**"
  workflow_call:
  workflow_dispatch:

jobs:
  # ===================== Unit Tests =====================
  tests:
    name: "Unit Tests - PHP ${{ matrix.php }}"
    if: *should-run
    runs-on: *os
    timeout-minutes: *timeout
    strategy:
      matrix:
        php: ["8.3", "8.4", "8.5"]
    env:
      extensions: mbstring, ctype, curl, gd, apcu, memcached, redis
      ini: apc.enabled=1, apc.enable_cli=1, pcov.directory=., "pcov.exclude=\"~(vendor|tests)~\""

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 2

      - name: Preparations
        run: mkdir sarif

      - name: Install memcached
        uses: niden/actions-memcached@3b3ecd9d0d035ea92db716dc1540a7dbe9e56349 # v7

      - name: Install redis
        uses: supercharge/redis-github-action@ea9b21c6ecece47bd99595c532e481390ea0f044 # ea9b21c6ecece47bd99595c532e481390ea0f044
        with:
          redis-version: 7

      - name: Install system locales
        run: sudo apt-get update && sudo apt-get install -y locales-all

      - name: Setup PHP cache environment
        id: ext-cache
        uses: shivammathur/cache-extensions@4595bea7d6630821b0a3a4894f816402faaf324c # v1
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          key: php-v1

      - name: Cache PHP extensions
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ${{ steps.ext-cache.outputs.dir }}
          key: ${{ steps.ext-cache.outputs.key }}
          restore-keys: ${{ steps.ext-cache.outputs.key }}

      - name: Setup PHP environment
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          ini-values: ${{ env.ini }}
          coverage: pcov
          tools: phpunit:12.4.4, psalm:6.13.1

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Cache analysis data
        id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.cache/psalm
          key: backend-analysis-${{ matrix.php }}

      - name: Check Composer platform requirements
        if: always() && steps.cache.outcome == 'success'
        run: composer check-platform-reqs

      - name: Run tests
        if: always() && steps.cache.outcome == 'success'
        run: phpunit -c phpunit.ci.xml --coverage-clover ${{ github.workspace }}/clover.xml

      - name: Statically analyze using Psalm
        if: always() && steps.cache.outcome == 'success' && matrix.php != '8.5'
        run: psalm --output-format=github --php-version=${{ matrix.php }} --report=sarif/psalm.sarif --report-show-info=false

      - name: Upload coverage results to Codecov
        env:
          token: ${{ secrets.CODECOV_TOKEN }}
          PHP: ${{ matrix.php }}
        if: env.token != ''
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # for better reliability if the GitHub API is down
          fail_ci_if_error: true
          files: ${{ github.workspace }}/clover.xml
          flags: backend
          env_vars: PHP

      - name: Upload code scanning results to GitHub
        if: always() && steps.cache.outcome == 'success' && github.repository == 'getkirby/kirby' && matrix.php != '8.5'
        uses: github/codeql-action/upload-sarif@497990dfed22177a82ba1bbab381bc8f6d27058f # v3
        with:
          sarif_file: sarif

  # ===================== Code Quality =====================
  analysis:
    name: "Code Quality"
    if: *should-run
    runs-on: *os
    timeout-minutes: *timeout
    env:
      extensions: mbstring, ctype, curl, gd, apcu, memcached, redis

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup PHP cache environment
        id: ext-cache
        uses: shivammathur/cache-extensions@4595bea7d6630821b0a3a4894f816402faaf324c # v1
        with:
          php-version: ${{ env.PHP }}
          extensions: ${{ env.extensions }}
          key: php-analysis-v1

      - name: Cache PHP extensions
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ${{ steps.ext-cache.outputs.dir }}
          key: ${{ steps.ext-cache.outputs.key }}
          restore-keys: ${{ steps.ext-cache.outputs.key }}

      - name: Setup PHP environment
        id: php
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ env.PHP }}
          extensions: ${{ env.extensions }}
          coverage: none
          tools: |
            composer:2.9.1, composer-normalize:2.48.2, composer-require-checker:4.18.0,
            composer-unused:0.9.5

      - name: Validate composer.json/composer.lock
        if: always() && steps.php.outcome == 'success'
        run: composer validate --strict --no-check-version --no-check-all

      - name: Ensure that composer.json is normalized
        if: always() && steps.php.outcome == 'success'
        run: composer-normalize --dry-run

      - name: Check for unused Composer dependencies
        if: always() && steps.php.outcome == 'success'
        run: composer-unused --no-progress

  # ===================== Coding Style =====================
  coding-style:
    name: "Coding Style"
    if: *should-run
    runs-on: *os
    timeout-minutes: *timeout

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup PHP environment
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ env.PHP }}
          coverage: none
          tools: php-cs-fixer:3.90.0

      - name: Cache analysis data
        id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.php-cs-fixer
          key: coding-style

      - name: Check for PHP coding style violations
        if: always() && steps.cache.outcome == 'success'
        run: php-cs-fixer fix --diff --dry-run
