/**
 * Shared SCSS variables, mixins etc.
 *
 * NOTE:
 * avoid css output at all costs, because it would be repeated everytime this
 * file is imported. Use only for mixins, variables and functions.
 */

$layers: (
  loader: 900,
  notification: 800,
  dropdown: 700,
  dialog: 600,
  dropzone: 500,
  toolbar: 400,
  navigation: 300,
  content: 200,
  background: 100
);

@function z-index($key, $add: 0) {
  @return map-get($layers, $key) + $add;
}

/**
 * Colors
 */
$color-black: #000;
$color-white: #fff;
$color-dark: #16171a;
$color-dark-grey: #777;
$color-light: #efefef;
$color-light-grey: #999;
$color-background: $color-light;
$color-positive: #5d800d;
$color-positive-border: $color-positive;
$color-positive-outline: rgba($color-positive, 0.25);
$color-positive-on-dark: #a7bd68;
$color-focus: #4271ae;
$color-focus-border: $color-focus;
$color-focus-outline: rgba($color-focus, 0.25);
$color-focus-on-dark: #81a2be;
$color-notice: #f5871f;
$color-notice-on-dark: #de935f;
$color-negative: #c82829;
$color-negative-border: $color-negative;
$color-negative-outline: rgba($color-negative, 0.25);
$color-negative-on-dark: #d16464;
$color-border: #ccc;
$color-backdrop: rgba($color-dark, 0.6);
$color-inset: #ebebeb;

/**
 * Typography
 */
$font-size-tiny: 0.75rem;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-huge: 1.5rem;
$font-size-monster: 1.75rem;

$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-weight-normal: 400;
$font-weight-bold: 600;

/**
 * Fields
 */
$field-input-padding: .5rem;
$field-input-height: 2.25rem;
$field-input-line-height: 1.25rem;
$field-input-font-size: $font-size-medium;
$field-input-color-before: $color-dark-grey;
$field-input-color-after: $color-dark-grey;
$field-input-border: 1px solid $color-border;
$field-input-focus-border: 1px solid $color-focus-border;
$field-input-focus-outline: 2px solid $color-focus-outline;
$field-input-invalid-border: 1px solid $color-negative-outline;
$field-input-invalid-outline: 0;
$field-input-invalid-focus-border: 1px solid $color-negative-border;
$field-input-invalid-focus-outline: 2px solid $color-negative-outline;
$field-input-background: $color-white;
$field-input-disabled-color: $color-light-grey;
$field-input-disabled-background: lighten($color-background, 2.5%);
$field-input-disabled-border: 1px solid lighten($color-border, 2%);

/**
 * Lists
 */
$list-item-height: calc(2rem + 2px);
$list-item-text-color: $color-dark;
$list-item-text-font-size: $font-size-small;
$list-item-info-color: $color-dark-grey;
$list-item-info-font-size: $font-size-tiny;

/**
 * Misc
 */
$border-radius: 1px;

/**
 * Shadows
 */
$box-shadow: rgba($color-dark, 0.2) 0 2px 10px;
$box-shadow-card: rgba($color-dark, 0.05) 0 2px 5px;
$box-shadow-inset: rgba($color-dark, 0.025) 0 5px 5px inset;
$box-shadow-focus: rgba($color-focus, 0.25) 0 0 0 3px;
$box-shadow-positive: rgba($color-positive, 0.25) 0 0 0 3px;
$box-shadow-focus-full: $color-focus 0 0 0 2px,
  rgba($color-focus, 0.2) 0 0 0 2px;

/**
 * Breakpoints
 */
$breakpoint-small: 30em;
$breakpoint-menu: 45em;
$breakpoint-medium: 65em;
$breakpoint-large: 90em;
$breakpoint-huge: 120em;

/**
 * Widths
 */
$width-menu: 12.5rem;

/**
 * Focus Ring
 */
@mixin focus-ring {
  outline: none;
  box-shadow: $box-shadow-focus-full;
}

@mixin highlight-tabbed {
  outline: none;

  &[data-tabbed] {
    @include focus-ring;
  }
}

/**
 * Pattern Background
 */
$pattern: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXR0ZXJuIGlkPSJhIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiPjxwYXRoIGZpbGw9InJnYmEoMCwgMCwgMCwgMC4yKSIgZD0iTTAgMGgxMHYxMEgwem0xMCAxMGgxMHYxMEgxMHoiLz48L3BhdHRlcm4+PHJlY3QgZmlsbD0idXJsKCNhKSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIvPjwvc3ZnPg==";
